<div class="container">

  <div class="btn-group" role="group" style="margin-bottom: 10px;" aria-label="Album Navigation">
    <a routerLink="/albums" class="btn btn-sm btn-primary"><i class="fa fa-list"></i> Albums</a>
    <a [routerLink]="['/album/edit',album.id]" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Edit</a>
    <a [href]="album.amazonUrl" class="btn btn-sm btn-primary"><i class="fa fa-dollar"></i> Buy</a>

    <a [href]="album.spotifyUrl" class="btn btn-sm btn-primary"><i class="fa fa-volume-up"></i> Listen</a>
    <button (click)="deleteAlbum(album)" class="btn btn-sm btn-primary"><i class="fa fa-remove"></i> Delete</button>
  </div>

  <div class="separator"></div>

  <error-display [error]="error"></error-display>

  <div class="row">
    <div class="col-sm-3">
      <img [src]="album.imageUrl" *ngIf="album.imageUrl" class="album-image-big" />
    </div>
    <div class="col-sm-9">
      <h2 class="album-title-big">
        {{album.title}}
      </h2>

      <div class="album-artist">

        by <a [routerLink]="['/artist',album.artistId]">{{album.artist.artistName}}</a>
        {{(album.year ? 'in ' + album.year : '')}}
      </div>
      <div [innerHTML]="album.description" class="line-breaks"></div>

      <div style="margin: 10px 0" class="pull-right">
        &nbsp;
        <a *ngIf="album.amazonUrl" [href]="album.amazonUrl" class="btn btn-link btn-sm" target="_amazon"><i class="fa fa-dollar"></i> Buy</a> &nbsp;&nbsp;
        <a *ngIf="album.spotifyUrl" [href]="album.spotifyUrl" class="btn btn-link btn-sm" target="_spotify"><i class="fa fa-volume-up"></i> Play</a>
      </div>

      <album-songlist [tracks]="album.tracks"></album-songlist>

      <hr />
      More from
      <a [routerLink]="['/artist',album.artistId]">
        {{album.artist.artistName}}<br />
        <img *ngIf="album.artist.imageUrl" [src]="album.artist.imageUrl"
             style="height: 100px; border-radius: 5px;box-shadow: 2px 2px 3px #535353" />
      </a>
      <b>--- NOT IMPLEMENTED</b>
    </div>
  </div>
</div>
